*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: sans-serif;
}

$main-color: #fff;
$main-border-radius: 5px;
$main-box-shadow: #64646f33 0px 0px 29px 0px;

@mixin btn-style($bg-color){
  color: $main-color;
  border-radius: $main-border-radius;
  padding: 0px 20px;
  font-size: 18px;
  border: none;
  background-color: $bg-color;
}

body{
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.todolist-container{
  width: 550px;
  height: 600px;
  background-color: $main-color;
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  padding: 1rem;
}

.todolist__form-wrapper{
  width: 100%;
  height: 170px;
  box-shadow: $main-box-shadow;
  border-radius: $main-border-radius;
  padding: 1rem;
}

.todolist__form-wrapper > form{
  display: flex;
  gap: 0 20px;
}

.todolist__form-input{
  flex: 1;
  padding: 1rem 0px;
  text-indent: 10px;
  font-size: 18px;
  border-radius: $main-border-radius;
  border: 1px solid #cbcbcb;
  outline: none;
  transition: all 0.5s ease-out;
}

.todolist__form-input:focus{
  border: 1px solid #008000a3;
  box-shadow: 0px 0px 0px 4px #00800064;
}

.todolist__form-submit{
  @include btn-style(#008000a3);
}

.todolist__form-submit:active, 
.todolist__form-delete-all:active{
  transform: scale(1.1);
}

.todolist-collection{
  display: grid;
  gap: 15px 0;
  margin-top: 30px;
  max-height: 500px;
  overflow: auto;
  padding: 10px 1rem;
}

.collection__item{
  padding: 1rem;
  box-shadow: $main-box-shadow;
  animation: bounce 0.5s ease-in-out;
  p{
     padding: 10px;
  border: 1px solid transparent ;

  }  
  p[contenteditable]{
    border: 1px solid gray;
     outline: none;
  }
  
}


@keyframes bounce {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);

  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1);

  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);

  }
}

.todolist__form-delete-all{
  @include btn-style(#fc3f3f);
  
  padding: 16px 20px;
  margin-top: 30px;
}
.collection__item > div{
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
}

.btn{
  padding: 10px 12px;
  border: none;
  flex: 1;
  border-radius: $main-border-radius;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.8;
}
.btn:active{
  transform: scale(1.1);
}
.btn > i{
font-size: 20px;
pointer-events: none;
}
.btn-complete{
  background-color: #008000a3;
  color: #fff;
}
.btn-edit{
  background-color: gold;
  color: #fff;
}
.btn-time{
  background-color: dodgerblue;
  color: #fff;
}
.btn-delete{
  background-color: #fc3f3f;
  color: #fff;
}

.textEl{
  background-color: #008000a3;
  color: #fff;
  border-radius: $main-border-radius;
  text-decoration: line-through;
}